.xl-text {
  font-size: 75px;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  background: #d1e0d7;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-nav-item {
  display: inline-block; /* Ensures it's displayed inline */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  list-style: none; /* Remove list-style */
}

.custom-nav-item .btn {
  border: 1px solid #4d725b; /* Add an outline border */
  background-color: transparent; /* Set a transparent background */
  color: #333; /* Set text color */
}

.custom-nav-item .btn:hover {
  background-color: #4d725b; /* Change background on hover if desired */
  color: #fff; /* Change text color on hover if desired */
}

.nav-item {
  margin-bottom: 10px;
}

.store_logo {
  width: 100px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

/* .galleryimg {
  width: 100%;
  margin: 4px 4px; /* Doubled margin-bottom (4px) while keeping margin-left and margin-right (2px) 
} */

@media (max-width: 992px) {
  .xl-text {
    font-size: 50px;
  }
  .navbar .btn-outline-secondary {
    margin-top: 20px;
  }
}
